.input-wrapper {
    min-width: 300px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;

    .input-label {
        font-size: 12px;
        color: #828282;
        background: #FFFFFF;
        position: relative;
        top: 8px;
        left: 10px;
        padding: 0 5px;
    }

    .custom-input-text {
        width: 100%;
        background: #FFFFFF;
        border: 2px solid #E3E3E3;
        border-radius: 8px;
        outline: none;
        padding: 18px 15px;
        transition: 0.25s all ease;

        font-size: 14px;
        color: #353238;

        &:focus, &:active {
            border-color: #0086A8;
        }
    }

    &.error {
        .input-label {
            color: #EB5E55;
        }

        .custom-input-text {
            border-color: #EB5E55;

            &:focus, &:active {
                border-color: #ff0000;
            }
        }
    }

    .input-error {
        padding-left: 15px;
        font-size: 12px;
        color: #EB5E55;
    }
}

